@charset "utf-8";

@font-face {
    font-family: GilroyRegular;
    src: url(fonts/GilroyRegular/GilroyRegular.eot), url(fonts/GilroyRegular/GilroyRegular.ttf), url(fonts/GilroyRegular/GilroyRegular.woff);
}
@font-face {
    font-family: GilroyRegularItalic;
    src: url(fonts/GilroyRegularItalic/GilroyRegularItalic.eot), url(fonts/GilroyRegularItalic/GilroyRegularItalic.ttf), url(fonts/GilroyRegularItalic/GilroyRegularItalic.woff);
}
/*==================================================================*/
/* - start -                      ОБНУЛЕНИЕ                         */
/*==================================================================*/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    user-select: none; /* Убирает стандартную синию подсветку текста при двойном клике*/
}
a {
    text-decoration: none;
    white-space: nowrap;  /* запрет ломаться строкам. Пробелы не учитываются, переносы строк в коде  */
}
ul {
    list-style: none;
}
img {
    vertical-align: top;
    /* vertical-align: top; */
    /* display: block; */
    border: none;
}
h1, h2 {
    color: khaki;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
    font-family: "YS Text";
}
h1 {
    font-size: 46px;
}
h2 {
    font-size: 44px;   
}
/* p { */
    /*text-indent: 20px; /* Отступ первой строки в пикселях  - текст с красной строки*/
/* } */
button {
    background-color:#02255F;
    color: #fff;
    font-family: GilroySemibold;
    /* border-radius: 5px; */
    font-size: 20px;
    cursor: pointer;
    padding: 20px;
    margin: 5px 0px 5px 0px;
}
button:hover{
    background-color:#0544aa;
}

input,
label,
select,
button,
textarea {
    margin:0;
    border:0;
    padding:0;
    display:inline-block;
    vertical-align:middle;
    white-space:normal;
}

/* Remove the stupid outer glow in Webkit */
input:focus {
    outline:0;
}

/* Box Sizing Reset -----------------------------------------------*/

/* All of our custom controls should be what we expect them to be */
input,
textarea {
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
}

/* These elements are usually rendered a certain way by the browser */
button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

/* Button Controls -----------------------------------------------*/
input[type=checkbox],
input[type=radio] {
    width:13px;
    height:13px;
}

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration {
    display:none;
}

/* Buttons -----------------------------------------------*/
button,
input[type="reset"],
input[type="button"],
input[type="submit"] {
    /* Fix IE7 display bug */
    overflow:visible;
    width:auto;
}

/* Textarea -----------------------------------------------*/
textarea {
    /* Move the label to the top */
    vertical-align:top;
    
    /* Turn off scroll bars in IE unless needed */
    overflow:auto;
}

/* Selects -----------------------------------------------*/
/* select{

} */
/* select[multiple] { */
    /* Move the label to the top */
    /* vertical-align:top; */
/* } */
/*==================================================================*/
/* - end -                       ОБНУЛЕНИЕ                          */
/*==================================================================*/
/*==================================================================*/
/* - start -            Стили для шрифтов отдельно                  */
/*==================================================================*/
.GilroyRegular14 {
    font-family: GilroyRegular;
    font-size: 14px;
}
.GilroyRegular16 {
    font-family: GilroyRegular;
    font-size: 16px;
}
.GilroyRegular18 {
    font-family: GilroyRegular;
    font-size: 18px; 
}
.GilroyRegular20 {
    font-family: GilroyRegular;
    font-size: 20px; 
}
.GilroyRegularItalic20 {
    font-family: GilroyRegularItalic;
    font-size: 20px;
}
.GilroyRegularItalic24 {
    font-family: GilroyRegularItalic;
    font-size: 24px;
}
/*==================================================================*/
/* - end -               Стили для шрифтов отдельно                 */
/*==================================================================*/
/*==================================================================*/
/* - start -                   ШАБЛОН БЛОКОВ                        */
/*==================================================================*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.flex_wrapper {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* в столбик */
    /* Прижать футер снизу */
    flex: 1 1 auto;
    /* Прижать футер снизу */
    overflow: hidden;
}
.flex_wrapper .flex_width_content_fon + .flex_width_content_fon {
    margin-top: 20px;  /* gap по вертикали */
}
.flex_width_content_fon {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
}
.flex_width_content_fon:nth-child(2),
.flex_width_content_fon:nth-child(3),
.flex_width_content_fon:nth-child(4),
.flex_width_content_fon:nth-child(5),
.flex_width_content_fon:nth-child(6),
.flex_width_content_fon:nth-child(7),
.flex_width_content_fon:nth-child(8),
.flex_width_content_fon:nth-child(9) {
    position: relative;
    z-index: 1;
}
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
.flex_width_content_fon:nth-child(1) .content_img p,
.flex_width_content_fon:nth-child(1) .content_img h3 {
    color: khaki;
}
.flex_width_content_fon:nth-child(2),
.flex_width_content_fon:nth-child(4),
.flex_width_content_fon:nth-child(8) {
    min-height: 30vh;
}
.flex_width_content_fon:nth-child(3) {
    min-height: 30vh;
    background-color: #654321;
}
.flex_width_content_fon:nth-child(3) .flex_height_content_one,
.flex_width_content_fon:nth-child(3) .flex_height_content_two h3 {
    color: khaki;
}
.flex_width_content_fon:nth-child(3) li {
    font-size: 18px;
}
.flex_width_content_fon:nth-child(6) li {
    color: #654321;
}
.flex_width_content_fon:nth-child(4) .flex_height_content_one:nth-child(1) h2,
.flex_width_content_fon:nth-child(6) .flex_height_content_one:nth-child(1) h2,
.flex_width_content_fon:nth-child(8) .flex_height_content_one:nth-child(1) h2 {
    color: #654321;
}
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
/* -------------------------- */
/* - start -  Наклонный блок  */
/* -------------------------- */
.flex_width_content_fon:nth-child(5) {
    transform: rotate(-4deg);
    margin-top: 300px;
    position: relative;
    z-index: -1;
    width: 115%;
    min-height: 30em;
    top: 2.5em;
    margin-bottom: 5em;
    border: 10px solid #B7410E;
    background-color: #654321;
}
.flex_width_content_fon:nth-child(5) .flex_container_max_width:nth-child(1) {
    transform: rotate(4deg);
    max-width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex_width_content_fon:nth-child(5) .mark_left,
.flex_width_content_fon:nth-child(5) .mark_right {
    width: 50px;
    height: 50px;
    margin: 10px;
    position: relative;
    filter: invert(45%) sepia(100%) saturate(2500%) hue-rotate(345deg) brightness(71%) contrast(100%); /* оранжеватый #B7410E */
}
.flex_width_content_fon:nth-child(5) .mark_right {
    float: right;
}
.flex_width_content_fon:nth-child(5) .mark_center {
    color: khaki;
    font-size: 30px;
    font-family: Consolas;
    margin: 0 auto;
    margin-left: 20px;
}
.flex_width_content_fon:nth-child(5) .gust {
    color: khaki;
    font-size: 30px;
    font-family: Consolas;
    margin: 50px 15px 15px 15px;
    float: right;
}
@media (max-width: 767px) {
    .flex_width_content_fon:nth-child(5) .flex_width_content_one:nth-child(1) {
        width: 60%;
    }
}
/* -------------------------- */
/* - end -   Наклонный блок   */
/* -------------------------- */
.flex_width_content_fon img {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/* ЗАТЕМНЕНИЕ ФОНОВОГО ИЗОБРАЖЕНИЕ */
.flex_width_content_fon:nth-child(1):after {
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 0;
}
/* ЗАТЕМНЕНИЕ ФОНОВОГО ИЗОБРАЖЕНИЕ */
.flex_container_max_width {
    /* +++ резиновые блоки +++ Нет контента = нет блоков */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row; /* в строку */
    /* +++ резиновые блоки +++ Нет контента = нет блоков */
    gap: 20px;   /* gap по горизонтали и по вертикали */
    width: 1200px;
    position: relative;
    z-index: 2;
}
/* ========================================= */
/* - start -        flex one block           */
/* ========================================= */
/* Кнопка наверх */
.button_top {
    position: fixed;
    z-index: 50;
    right: 30px;
    bottom: 30px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    transform: rotate(90deg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.button_top a {
    font-weight: bold; 
    font-size: 20px;
    padding: 15px;
    color: #654321;
}
.button_top img {
    width: 50px;
    height: 50px;
    filter: invert(35%) sepia(58%) saturate(480%) hue-rotate(340deg) brightness(73%) contrast(100%); /* коричневый #654321*/
}
/* кнопка наверх */
.flex_width_content_one {
    flex: 1 0 100%;        /* flex: 1 0 100%;  1 колонка */
}
.flex_height_content_one,
.flex_height_content_two,
.flex_height_content_three,
.flex_height_content_four,
.flex_height_content_five {
    /* +++ резиновые блоки +++ Нет контента = нет блоков */
    height: 100%;
    /* +++ резиновые блоки +++ Нет контента = нет блоков */
    min-height: 1em;
    padding: 0px 7px;
}
.flex_height_content_one h2 {
    text-align: center;
}
.flex_height_content_one h3 {
    font-size: 20px;
    color: khaki;
}
.flex_height_content_one p {
    padding: 7px 0px;
}
.flex_height_content_one ul li {
    padding: 7px 20px;
}
/* content one slider */
/*-------------------------*/
/* - start -  slider top   */
/*-------------------------*/
.wrapper_slider_one {
    position: relative;
    width: 100%;
    height: 75vh;
    min-height: 300px;
    overflow: hidden;
}
.slider_one {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.navigation_one {
    position: absolute;
    width: 100%;
    min-height: 3em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    bottom: 0;
}
.navigation_one img {
    position: static;
    cursor: pointer;
    margin: 10px;
    width: 100px;
    height: 70px;
    border: 2px solid khaki;
    border-radius: 4px;
    z-index: 2;
}
.navigation_one img.active_slider {
    border: 2px solid #B7410E;
}
.slider_info_one {
    width: 300px;
    height: 50px;
    background-color: rgba(184, 124, 65, 0.2);
    color: khaki;
    padding: 7px 12px;
    left: -300px;
    font-size: 20px;
    transition: 0.5s;
    position: absolute;
    z-index: 0;
}
/*-------------------------*/
/* - end -   slider top    */
/*-------------------------*/
/* content one slider*/
/*-------------------------*/
/* - start - card карточки */
/*-------------------------*/
.card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card:nth-child(odd) {
    flex-direction: row;
}
.card:nth-child(even) {
    flex-direction: row-reverse;
    text-align: right;
}
.img_Bx {
    position: relative;
    z-index: 1;
    left: 25px;
    width: 500px;
    height: 400px;
}
.card:nth-child(even) .img_Bx {
    left: -25px;
}
.img_Bx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content_Bx {
    position: relative;
    right: 25px;
    width: 500px;
    height: 400px;
    background-color: #654321;
    display: flex;
    justify-content: center;
    margin: 100px 0;
    align-items: center;
    padding: 20px 60px 20px 100px;
}
.card:nth-child(even) .content_Bx {
    right: -25px;
    padding: 20px 100px 20px 60px;
}
.content_Bx::before {
    content: "";
    position: absolute;
    top: -50px;
    bottom: -50px;
    left: 0;
    right: 0;
    background-color: #654321;
    z-index: 0;
}
.content_Bx h2 {
    font-size: 30px;
    color: khaki;
    position: relative;
    z-index: 1;
}
.content_Bx p {
    margin-top: 10px;
    color: khaki;
    position: relative;
    z-index: 1;
}
.content_Bx a {
    display: inline-block;
    margin-top: 15px;
    color: khaki;
    padding: 10px;
    border: 1px solid khaki;
    position: relative;
    z-index: 1;
}
@media (max-width: 1036px) {
    .card {
        flex-direction: column;
        width: 100%;
    }
    .img_Bx {
        width: 100%;
        height: 250px;
        left: 0; 
    }
    .content_Bx {
        width: 100%;
        height: auto;
        right: 0;
        padding: 30px;
        margin: 50px 0;
        bottom: 0;
        text-align: center;
    }
    .content_Bx::before {
        top: 0;
        bottom: 0;
    }
    .content_Bx:not(:first-child) {
        margin-top: 0px;
    }

    .card:nth-child(even) .img_Bx {
        left: 0px;  
    }
    .card:nth-child(even) .content_Bx {
        right: 0;
        padding: 30px;
    }
    .content_Bx::before {
        margin-bottom: 0px;
    }
}
/*-----------------------*/
/* - end - card карточки */
/*-----------------------*/
/* ========================================= */
/* - end -         flex one block            */
/* ========================================= */
/* ========================================= */
/* - start -       flex two block            */
/* ========================================= */
.flex_width_content_two{
    flex: 1 0 49%;      /* flex: 1 0 49%; 2 колонки */
}
.flex_height_content_two h2 {
    padding: 30px 20px 30px 0px;
}
.flex_height_content_two h3 {
    color: black;
}
.flex_height_content_two p {
    padding: 15px 0px 18px 0px;
    font-size: 18px;
}
.flex_height_content_two a {
    color: #243242;
}

.flex_height_content_two ol li {
    color: khaki;
}

.flex_height_content_two img {
    width: 100%;
    position: relative;
    object-fit: cover;
}
/* ========================================= */
/* - end -         flex two block            */
/* ========================================= */
/* ========================================= */
/* - start -      flex three block           */
/* ========================================= */
.flex_width_content_three {
    flex: 1 0 32%;          /* flex: 1 0 32%;  3 колонки */
}
.flex_height_content_three {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}
.flex_column {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    color: khaki;
    font-size: 18px;
}
.flex_height_content_three h4 {
    font-size: 20px;
    padding: 15px 0px 15px 0px;;
}
.flex_height_content_three a{
  
    font-size: 30px;
    font-weight: bold;
    color: khaki;
}
.flex_column a:nth-child(4) {
    text-decoration: underline;
    font-size: 25px;
}
.flex_height_content_three img{
    display: flex;
    position: relative;
}
.flex_height_content_three p {
    margin: 0;
    padding: 10px 0px;
    text-align: center;
}

.flex_width_content_three .logo img{
    filter: invert(45%) sepia(100%) saturate(2500%) hue-rotate(345deg) brightness(71%) contrast(100%); /* оранжеватый #B7410E */
    width: 70px;
    height: 70px;
}
.flex_width_content_three .logo h2 {
    margin-left: 15px;
}
/* - start - SEARCH ПОИСК */
.search {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    width: 100%;
}
.search input[type=search] {
    width: 100%;
    line-height: 2.5;
    font-size: 18px;
    background-color: rgb(220, 220, 220);
    border: 1px solid #888;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    margin: 10px 0px 10px 0px;
    padding: 0px 5px 0px 5px;  
}
.search input[type=search]:focus {
    border: 1px solid #B7410E;
    background-color: rgb(232, 240, 254);
}
.search button {
    width: 60px;
    height: 47px;
    margin-left: -1px;
    background-color: #B7410E;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    cursor: pointer;
}
.search img {
    width: 20px;
    height: 20px;
    /*filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(150deg) brightness(100%) contrast(100%); /* белый */
    filter: invert(73%) sepia(100%) saturate(150%) hue-rotate(371deg) brightness(100%) contrast(100%); /* желтый */
    margin: 0 auto;
}
/* - end - SEARCH ПОИСК */

ol li {
    margin: 5px 0px 5px 30px;
}
/* content three */
/* ========================================= */
/* - end -        flex three block           */
/* ========================================= */
/* ========================================= */
/* - start -      flex fhor block            */
/* ========================================= */
.flex_width_content_four {
    flex: 1 0 23%;     /* flex: 0 0 23.75%; 4 колонки */
}
.flex_height_content_four {
    width: 17.5em;
}
.flex_height_content_four h3{
    color: #fff;
    padding: 15px 0px 15px 0px;
}
.flex_height_content_four p{
    color: #fff;
    padding-bottom: 15px;
}
.flex_height_content_four:nth-child(1),
.flex_height_content_four:nth-child(2),
.flex_height_content_four:nth-child(3),
.flex_height_content_four:nth-child(4) {
    padding: 0px;
}
.flex_height_content_four:last-child {
    padding: 0 7px;
}
.four_box {
    position: relative;
    height: 400px;
    margin: 0 auto;
}
.four_box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: circle(500px at center 100px);
    transition: 0.5s;
    transition-delay: 0.5s;
}
.four_box .imgBx img {
    border-radius: 7px;
}
.four_box:hover .imgBx {
    clip-path: circle(80px at center 100px);
    transition-delay: 0s;
}

.four_box:hover .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.four_box .content_img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 55%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.four_box .content_img h3 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #654321;
}
.four_box .content_img p {
    color: #654321;
}
.four_box .content_img a {
    background: #B7410E;
    border-radius: 5px;
    color: khaki;
    display: inline-block;
    padding: 10px;
    font-size: 18px;
}
.four_box .content_img h3,
.four_box .content_img p,
.four_box .content_img a {
    opacity: 0;
    transition: 0.5s;
    transform: translateY(20px);
}

.four_box:hover .content_img h3 {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.5s;
}
.four_box:hover .content_img p {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.7s;
}
.four_box:hover .content_img a {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.9s;
}
/* ========================================= */
/* - end -         flex fhor block           */
/* ========================================= */
/* ========================================= */
/* - start -       flex five block           */
/* ========================================= */
.flex_width_content_five {
    flex: 1 0 18%;           /* flex: 0 0 18%; 5 колонoк */
}
/* ========================================= */
/* - end -        flex five block            */
/* ========================================= */
/* ========================================= */
/* - start -     flex footer block           */
/* ========================================= */
.flex_width_content_fon:last-child {
    min-height: 30vh;
    background-color: #654321;
}
.footer_fon_four {
    background-color: #654321;
}
.footer_fon_four a,
.footer_fon_four label,
.footer_fon_four p,
.footer_fon_four span,
.footer_fon_four h3 {
    font-family: Consolas;
    color:khaki;
}
.footer_fon_four h1 {
    font-family: "YS Text";
    color:khaki;
    font-size: 44px;
}
.footer_fon_four p {
    font-size: 17px;
    text-indent: 20px; /* Отступ первой строки в пикселях  - текст с красной строки*/
}
.footer_fon_four span {
    font-size: 17px;
}
/* question */
.question {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
form.question :not(:last-child) {
    margin-bottom: 10px;
}
input[type=text] {
    width: 96%;
    line-height: 1.5;
    font-size: 18px;
    background-color: rgb(220, 220, 220);
    border: 1px solid #888;
    border-radius: 4px;
    padding: 0px 5px 0px 5px;  
}
input[type=text]:focus {
    border: 1px solid #B7410E;
    box-shadow: 0 0 6px #d84c10;
    background-color: rgb(232, 240, 254);
}

.question button {
    background-color: #B7410E;
    padding: 7px;
    border-radius: 4px;
    color: khaki;
    font-family: Consolas;
    margin: 7px 0px;
}
.question button:hover {
    background-color: #d84c10;
    padding: 7px;
    border-radius: 4px;
}
/* question */
/* contact info */
.contact__title {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px; /* расстояние между буквами */ 
    margin-bottom: 20px;
}
.contactInfo ul {
    position: relative;
}
.contactInfo ul li {
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.contactInfo ul li .contact__icon {
    display: inline-block;
}
.contactInfo ul li .contact__icon img {
    width: 21px;
    margin-right: 10px;
    /*filter: invert(85%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%); /* #1a9790 */
   /* filter: invert(60%) sepia(13%) saturate(3207%) hue-rotate(150deg) brightness(70%) contrast(100%); /* меняет цвет изображения PNG */
  /* filter: invert(35%) sepia(58%) saturate(480%) hue-rotate(340deg) brightness(73%) contrast(100%); /* коричневый #654321*/
  filter: invert(45%) sepia(100%) saturate(2500%) hue-rotate(345deg) brightness(71%) contrast(100%); /* оранжеватый #B7410E */
    /*Filter styles*/
    /* .saturate { filter: saturate(3); }   насыщать
    .grayscale { filter: grayscale(100%); }  полутоновый
    .contrast { filter: contrast(160%); }  контраст
    .brightness { filter: brightness(0.25); }  яркость
    .blur { filter: blur(3px); }   пятно  мутность
    .invert { filter: invert(100%); }  инвертировать
    .sepia { filter: sepia(100%); }  оттенок
    .huerotate { filter: hue-rotate(180deg); }  оттенок-поворот
    .rss.opacity { filter: opacity(50%); }  непрозрачность  */  
} 
.contactInfo ul li .contact__text {
    margin-left: 22px;
}
/* contact info */

.flex_height_content_one .copyright {
    text-align: center;
}
/* ========================================= */
/* - end -       flex footer block           */
/* ========================================= */
/*==================================================================*/
/* - end -                    ШАБЛОН БЛОКОВ                         */
/*==================================================================*/
/* ========================================= */
/* - start -         +++ menu +++            */
/* ========================================= */
.nav_menu,
.nav_menu_top ul, {   
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    min-height: 50px;
    overflow: hidden;
}
.menu_link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 50px;
}
.menu_link a {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_menu p { 
    display: none;
    color: khaki;
    font-size: 20px;
    padding: 10px;
}
img.icon_home {
    width: 43px;
    height: 43px;
    background-color: rgba(253, 132, 87, 0.2);
    border-radius: 5px;
}
nav.nav_menu a,
nav.nav_menu_top a {
    margin-left: 20px;
    font-size: 20px;
    color: khaki;
    padding: 9px;
}
nav.nav_menu a:hover,
nav.nav_menu_top a:hover {
    color: white;
    background-color: rgba(253, 132, 87, 0.2);
}
/* ========================================= */
/* - end -          +++ menu +++             */
/* ========================================= */

/* ========================================= */
/* - start -         slider rotor            */
/* ========================================= */
.slider_rotor {
    position: relative;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; 
    margin: 15px 0;
}
.prev,
.next,
.prev2,
.next2 {
    width: 40px;
    height: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 50%;
    margin: 3px;
    font-weight: bold;
    cursor: pointer;
   /* filter: invert(37%) sepia(13%) saturate(3207%) hue-rotate(0deg) brightness(70%) contrast(100%); /* коричневый */
   /*filter:invert(34%) sepia(60%) saturate(499%) hue-rotate(350deg) brightness(72%) contrast(100%); /* коричневый похоже на #654321*/
   filter: invert(35%) sepia(75%) saturate(675%) hue-rotate(347deg) brightness(76%) contrast(100%);  
}
.prev:hover,
.next:hover,
.prev2:hover,
.next2:hover {
    filter: invert(35%) sepia(58%) saturate(480%) hue-rotate(340deg) brightness(73%) contrast(100%);  
} 
.prev img,
.next img,
.prev2 img,
.next2 img {
    width: 40px;
    height: 40px;
}
.rotor_one {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;

    position: relative;
    transform-style: preserve-3d;
}
.rotor_one p {
    padding: 0;
}
.rotor,
.rotor2 {
    width: 450px;
    min-height: 2em;
    border: 1px solid #333;
    background-color: white;
    display: none;
    height: 100%;
    padding: 7px;
    border-radius: 10px;
    
}
.rotor {
    animation: slider .4s linear;
}
.rotor2 {
    animation: slider2 .4s linear;
}

@keyframes slider {
    0% {
        transform: rotateX(180deg);
    }
}
@keyframes slider2 {
    0% {
        transform: rotateX(180deg);
    }
}
.slider_rotor .rotor > * {
    animation: sliderContent .2s linear .4s backwards;
}
.slider_rotor .rotor2 > * {
    animation: sliderContent2 .2s linear .4s backwards;
} 
@keyframes sliderContent {
    0% {
        opacity: 0;
        transform: scale(.5); 
    }
}
@keyframes sliderContent2 {
    0% {
        opacity: 0;
        transform: scale(.5); 
    }
}
.user_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.user_wrapper img.user_fot {
    width: 100px;
    height: 100px;
    position: relative;
    border: 1px solid #333;
    filter: invert(34%) sepia(60%) saturate(499%) hue-rotate(350deg) brightness(72%) contrast(100%); /* коричневый похоже на #654321*/
    margin-bottom: 10px;
    border-radius: 50%;
    object-fit: cover;
}
.user_wrapper img:nth-child(3) {
    width: 80px;
    height: 80px;
    position: relative;
    filter: invert(45%) sepia(100%) saturate(2500%) hue-rotate(345deg) brightness(71%) contrast(100%); /* оранжеватый #B7410E */
    object-fit: cover;
}
.star img {
    width: 20px;
    height: 20px;
    position: relative;
    z-index: 0;
}
.star img:nth-child(1){
    filter: invert(2%) sepia(100%) saturate(9500%) hue-rotate(60deg) brightness(950%) contrast(100%); /* оранжевый */
}
.star img:nth-child(2) {
    filter: invert(2%) sepia(100%) saturate(9500%) hue-rotate(60deg) brightness(950%) contrast(100%); /* оранжевый */
}
.star img:nth-child(3) {
    width: 20px;
    height: 20px;
    filter: invert(2%) sepia(100%) saturate(9500%) hue-rotate(60deg) brightness(950%) contrast(100%); /* оранжевый */
}
.star img:nth-child(4),
.star img:nth-child(5) {
    filter: invert(4%) sepia(90%) saturate(9500%) hue-rotate(60deg) brightness(1000%) contrast(100%); /* желтый */
}
.user_name {
    font-size: 20px;
    font-weight: bold;
}
.profession_post {
    margin: 10px 0;
}
.active_rotor,
.active_rotor2 {
    display: flex;
    flex-direction: column;
}
@media (max-width: 767px) {
    .rotor_one {
        width: 100%;
    }
    .rotor,
    .rotor2 {
        width: 100%;
    }
    .user_wrapper {
        flex-wrap: wrap;
    }
    .user_wrapper .quotation { 
        margin: 10px 0;
    }
}
/* ========================================= */
/* - end -          slider rotor             */
/* ========================================= */

/*==================================================================*/
/* - start -                     @media                             */
/*==================================================================*/
/* ========================================= */
/* - start -   @media(max-width: 1200px)     */
/* ========================================= */
@media(max-width: 1200px) {  
    .flex_container_max_width {
        width: 100%;
        max-width: 1024px;
    }
    .flex_width_content_fon:nth-child(2) .flex_container_max_width .flex_height_content_four {
        min-height: 10em;
    }
    .flex_width_content_one {
        flex: 1 0 100%;
    }
    .flex_width_content_two {
        flex: 1 0 49%;
    }
    .flex_width_content_three {
        flex: 1 0 49%;
    }
    .flex_width_content_three:last-child {
        min-width: 100%;
    }
    .flex_width_content_fhor {
        flex: 1 0 33%;   
    }
    .flex_width_content_five {
        flex: 1 0 24%;        
    }
    .nav_menu {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        position: relative;
    }
}
/* ========================================= */
/* - end -    @media(max-width: 1200px)      */
/* ========================================= */
/* ========================================= */
/* - start -    @media(max-width: 835px)     */
/* ========================================= */
@media(max-width: 835px) {
    /* menu */
    .fixedMenu_active {
        overflow: hidden;
        position: fixed;
        z-index: 3;
        width: 100%;
        top: 0;
        left: 0;
        min-height: 50px;
        background-color: rgba(78, 41, 27, 0.7);
    }
    .nav_menu1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    .nav.nav_menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
    }
    .nav_menu p { 
        display: block;
    }
    /* ===== */
    nav .fon_menu {
        background-color: rgba(78, 41, 27, 0.7);
        width: 100%;
        height: 50px;
        position: relative;
        z-index: 10;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        overflow: hidden;
    }
    nav .menu_link {
        width: 100%;
        overflow: hidden;
        transition: height 0.5s linear;
        height: 0px;
    }
    nav.nav_menu .menu_link a {
        margin: 15px auto;
        padding: 15px;
        border: 1px solid khaki;
        width: 97%;
        color: khaki;
        display: flex;
        position: relative;
    } 
    nav.nav_menu .menu_link a:hover {
        background-color: rgba(253, 132, 87, 0.2);
        color: white;
    }
    .link_active {
        transition: height 0.5s linear;
        height: 765px;
    }
    /* ====== */
    .header_burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
        margin-left: 1em;
        cursor: pointer;
    } 
    .header_burger span {
        position: absolute;
        background-color: khaki;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s; /* снижает скорость анимации*/
    }
    .header_burger:before, .header_burger:after {
        content: '';
        background-color: khaki;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s; /* снижает скорость анимации*/
    }
    .header_burger:before {
        top: 0;
    }
    .header_burger:after {
        bottom: 0;
    }

    .header_burger.burger_active:before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header_burger.burger_active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header_burger.burger_active span {
        transform:scale(0);
    }

    /* slider top */
    .navigation_one img{
        width: 70px;
        height: 50px;
    }
    /* slider top */
 }
/* ========================================= */
/* - end -     @media(max-width: 835px)      */
/* ========================================= */

/* ========================================= */
/* - start -    @media(max-width: 767px)     */
/* ========================================= */
@media(max-width: 767px) {  
    .flex_width_content_fon {
        min-height: 30%;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .flex_container_max_width {
        flex-wrap: nowrap;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }
    .flex_width_content_fon:nth-child(2) .flex_container_max_width .flex_height_content_four {
        min-height: 10em;
    }
    .flex_width_content_one,
    .flex_width_content_two,
    .flex_width_content_three,
    .flex_width_content_fhor,
    .flex_width_content_five {
        flex: 0 0 100%;        /* flex: 0 0 100%;  1 колонка */
    }
    .flex_height_content_one,
    .flex_height_content_two,
    .flex_height_content_three,
    .flex_height_content_fhor,
    .flex_height_content_five {
        /* +++ резиновые блоки +++ Нет контента = нет блоков */
        height: 100%;
        width: 100%;
        /* +++ резиновые блоки +++ Нет контента = нет блоков */
        min-height: 3em;
        min-width: 19em;
    }   
}
/* ========================================= */
/* - end -     @media(max-width: 767px)      */
/* ========================================= */
/* ========================================= */
/* - start -    @media(max-width: 650px)     */
/* ========================================= */
/* slider top */
@media(max-width: 650px){ 
    .wrapper_slider_one {
        height: 30vh;
    }
    .navigation_one img {
        width: 40px;
        height: 30px;
    }
}
/* slider top */
/* ========================================= */
/* - end -     @media(max-width: 650px)      */
/* ========================================= */
/*==================================================================*/
/* - end -                       @media                             */
/*==================================================================*/
